@import "colors";


.blueGradientV {
	background: linear-gradient(to bottom, rgba(0,83,216,1) 0%,rgba(0,134,216,1) 100%);	
}

.Pfixed {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:auto;
}

.Pabsolute {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:auto;
}