  /*  FUGAMMA CSS */
  /* Pages */
  /*404 */

  div.the404 section.error {
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-width: 100%;
  }

  div.the404 .max-height-vh {
    height: 100vh !important;
  }

  div.the404 .center {
    text-align: center;
  }

  div.the404 .absolute {
    position: absolute;
    top: 0;
    left: 0;
  }

  div.the404 .block {
    display: block !important;
    width: 100%;
    height: 100% !important;
  }

  div.the404 .z-2 {
    z-index: 2;
  }

  div.the404 .row {
    display: table;
    width: 100%;
    margin: 0 auto;
  }

  div.the404 .max-height {
    height: 100% !important;
  }

  div.the404 .mid {
    vertical-align: middle !important;
  }

  div.the404 .col {
    display: table-cell;
  }

  div.the404 section.error .entry {
    margin: 0 auto 40px auto;
  }

  div.the404 .entry {
    line-height: 1.75em;
    font-size: 18px;
    font-weight: 500;
    max-width: 700px;
  }

  div.the404 a.button.outline.white, div.the404 input.outline.white[type="submit"], div.the404 button.outline.white {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  div.the404 .overlay {
    background-color: rgba(0, 0, 0, 0.50);
  }

  div.the404 .absolute {
    position: absolute;
    top: 0;
    left: 0;
  }

  div.the404 .block {
    display: block !important;
    width: 100%;
    height: 100% !important;
  }

  div.the404 .z-1 {
    z-index: 1;
  }

  div.the404 .row.click {
    padding-top: 30px;
  }

  div.the404 h1.the404inner {
    font: 900 78px/1 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  @media screen and (max-width: 1600px) {}

  @media screen and (max-width: 1200px) {}

  @media screen and (max-width: 1024px) {}

  @media screen and (max-width: 885px) {
    /* das 404 */
    div.the404 h1.the404inner {
      font: 900 68px/1 'Montserrat', sans-serif;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    div.the404 .row.click:focus {
      background-color: #2d9dd8;
    }
    div.the404 section.error .entry {
      margin: 10px auto 40px auto;
    }
    div.the404 .entry {
      font-size: 20px;
    }
    div.the404 .entry {
      line-height: 1.75em;
      font-size: 18px;
      font-weight: 500;
      max-width: 640px;
    }
  }

  @media screen and (max-width: 768px) {}

  @media screen and (max-width: 575px) {
    /* das 404 */
    div.the404 h1.the404inner {
      font: 900 36px/1 'Montserrat', sans-serif;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    div.the404 .entry {
      font-size: 16px;
      max-width: 340px;
      font-weight: 400;
      line-height: 1.4em;
      margin-top: 10px;
    }
    div.the404 .row.click {
      /* padding-top: 30px; */
      border: 2px solid #fff;
      /* line-height: 1em; */
      padding: 10px 0;
      max-width: 300px;
      text-align: center;
    }
    div.the404 a.button.outline.white, div.the404 input.outline.white[type="submit"], div.the404 button.outline.white {
      border: none;
      padding: 0;
    }
    div.the404 section.error .entry {
      margin: 10px auto 40px auto;
    }
  }

  @media screen and (max-width: 480px) {
    div.the404 .entry {
      font-size: 12px;
      max-width: 250px;
      line-height: 1.5em;
    }
    div.the404 .row.click {
      /* padding-top: 30px; */
      border: 2px solid #fff;
      /* line-height: 1em; */
      padding: 10px 0;
      max-width: 250px;
      text-align: center;
    }
    div.the404 a.button.outline.white, div.the404 input.outline.white[type="submit"], div.the404 button.outline.white {
      border: none;
      padding: 0;
      font-size: 16px;
      line-height: 1.2em;
    }
    div.the404 h1.the404inner {
      font: 900 28px/1 'Montserrat', sans-serif;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 320px) {}
  /* POSTS SLIDER */

  .postSliderWrapper {
    width: 100%;
  }

  .postSlider {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }

  .arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .slick-prevAC, .slick-nextAC {
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 0;
    cursor: pointer;
    color: transparent;
    outline: none;
    background: transparent;
    border: solid #666;
    border-width: 0 1px 1px 0;
    padding: 15px;
    position: relative;
  }

  .arrowWrapRight {
    right: -40px;
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: transparent;
    position: absolute;
    top: 40%;
    padding: 12px 12px 12px 0;
    z-index: 100;
  }

  .arrowWrapLeft {
    left: -40px;
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: transparent;
    position: absolute;
    top: 40%;
    padding: 12px 0px 12px 12px;
    z-index: 100;
  }

  .arrowWrapLeft:hover {
    left: -45px;
  }

  .arrowWrapRight:hover {
    right: -45px;
  }

  .slick-prevAC:hover {
    border: solid #0053d8;
    border-width: 0 1px 1px 0;
    -webkit-transition: all .3s;
    transition: all .3s
  }

  .slick-nextAC:hover {
    border: solid #0053d8;
    border-width: 0 1px 1px 0;
    -webkit-transition: all .3s;
    transition: all .3s
  }

  .slick-dots li button:before {
    font-size: 10px;
    opacity: 1;
    -webkit-transition: font-size .3s;
    transition: font-size .3s;
    color: #666;
  }

  .slick-dots li button:hover:before {
    color: #487ecc;
    opacity: 1;
    font-size: 12px;
  }

  .slick-dots li.slick-active button:before {
    color: #0053d8;
    opacity: 1;
  }

  .slick-dots {
    margin-bottom: 10px;
    bottom: -35px;
  }

  .theSliderCaption {
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
  }

  .slick-slide img.postSlideImage {
    padding-bottom: 5px
  }

  .slick-dotted.slick-slider {
    margin-bottom: 40px;
  }

  @media screen and (max-width: 1600px) {}

  @media screen and (max-width: 1200px) {}

  @media screen and (max-width: 1024px) {}

  @media screen and (max-width: 885px) {
    .arrowWrapRight {
      right: 0px;
      -webkit-transition: all .3s;
      transition: all .3s;
      background-color: #fff;
      opacity: .6;
      position: absolute;
      top: 40%;
      padding: 12px 12px 12px 0;
      z-index: 100;
    }
    .arrowWrapLeft {
      left: 0px;
      -webkit-transition: all .3s;
      transition: all .3s;
      background-color: #fff;
      opacity: .6;
      position: absolute;
      top: 40%;
      padding: 12px 0px 12px 12px;
      z-index: 100;
    }
    .arrowWrapLeft:hover {
      left: 0px;
    }
    .arrowWrapRight:hover {
      right: 0px;
    }
    @media screen and (max-width: 768px) {}
    @media screen and (max-width: 575px) {}
    @media screen and (max-width: 480px) {}
    @media screen and (max-width: 320px) {}
  }
  /* FORM MODAL */

  .remodal-overlay {
    background: rgba(0, 83, 216, 1) !important;
  }

  .remodal {
    color: #fff !important;
    background: transparent !important;
  }

  .formLogoWrapper {
    width: 100%;
    margin-top: 40px;
  }

  .fugSuccessMessage {
    text-align: center;
    margin-top: 20px;
  }

  .formLogoWrapper h2 {
    text-transform: capitalize;
    text-align: center;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 15px;
  }

  .formLogo {
    width: 200px;
    margin: 0 auto;
  }

  .caldera-grid input[type=text], .caldera-grid input[type=email], .caldera-grid input[type=phone] {
    height: 45px;
  }

  .caldera-grid .form-control, .caldera-grid output {
    color: #666 !important;
  }

  .remodal-close:before {
    color: #fff !important;
  }

  .caldera-grid .has-error .checkbox, .caldera-grid .has-error .checkbox-inline, .caldera-grid .has-error .control-label, .caldera-grid .has-error .form-control-feedback, .caldera-grid .has-error .help-block, .caldera-grid .has-error .radio, .caldera-grid .has-error .radio-inline, .caldera-grid .has-error.checkbox label, .caldera-grid .has-error.checkbox-inline label, .caldera-grid .has-error.radio label, .caldera-grid .has-error.radio-inline label {
    color: #ff413d !important;
  }

  .caldera-grid .alert-success {
    background-color: #0053D8 !important;
    border-color: #0053D8 !important;
    border: none !important;
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0) !important;
    */
  }
  /* Home Page */
  /* MAX OVERRRIDES */
  /* FUG adding border to title hover */

  .testimonial-quote {
    font-size: 20px;
    line-height: 1.4;
    font-style: italic;
    margin-bottom: 25px;
    width: 80%;
    height: auto;
  }

  @media screen and (max-width: 767px) {
    .testimonial-quote {
      font-size: 18px;
      line-height: 1.2;
      font-style: italic;
      margin-bottom: 25px;
      width: 80%;
      height: auto;
    }
  }

  .single-pricing-tile .button {
    border: 2px solid #0053d8
  }

  .postContent a.button, .general-page .content a.button {
    color: #fff;
  }

  .postContent .button:hover, .general-page .content .button:hover {
    border: 2px solid #0053d8;
    color: #0053d8;
  }

  .postContent a, .general-page .content a {
    color: #0053d8;
    font-weight: 700;
  }
  /* END FUG adding border to title hover */

  .general-page h2, .general-page h3, .general-page p {
    width: 100%;
  }

  .pricing-news-section .featured-story .featured-story-gradient {
    opacity: .20;
    background: #000000;
  }
  /* .general-page h2, .general-page h3, .general-page {
    max-width: 700px;
    width: 100%;
  }
  */

  .general-page .postContent {
    max-width: 700px;
    width: 100%;
  }
